@media only screen and (min-width: 1920px) {
  body {
    font-size: 19.2px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  p {
    font-size: 14.4px;
  }
}

a {
  color: inherit;
}

.cursor-wrapper {
  pointer-events: none;
}

@media (min-width:992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="64c35d5a-82ad-02a2-19d6-4bd1703656c9"] {
      -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7dc9fa78-e111-46db-04f9-d2a7b4b25cf4"] {
      border-color: rgb(187, 146, 72);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b56d8630-75c7-302b-b0ab-4b2a957fe16c"] {
      color: rgb(249, 240, 236);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6c7299a0-c51d-fadb-4a5f-4f4f59ae369f"] {
      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7eab7f34-a3c5-c24e-b245-0a12bffefa27"] {
      width: 100%;
      height: 0%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="3448760b-71f2-d049-c1a5-f968d4c505ee"] {
      -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
  }

  @media (max-width:991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="64c35d5a-82ad-02a2-19d6-4bd1703656c9"] {
      -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7dc9fa78-e111-46db-04f9-d2a7b4b25cf4"] {
      border-color: rgb(187, 146, 72);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b56d8630-75c7-302b-b0ab-4b2a957fe16c"] {
      color: rgb(249, 240, 236);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="6c7299a0-c51d-fadb-4a5f-4f4f59ae369f"] {
      -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7eab7f34-a3c5-c24e-b245-0a12bffefa27"] {
      width: 100%;
      height: 0%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="3448760b-71f2-d049-c1a5-f968d4c505ee"] {
      -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }
  }