::selection {
    background: #E8E8E8;
    color: #121212;
    text-shadow: none;
}

::selection {
    background: #E8E8E8;
    color: #121212;
    text-shadow: none;
}

.overflow-h {
    overflow: hidden
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    -webkit-font-smoothing: antialiased;
}

body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

:root {
    scrollbar-width: none !important;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    /* IE 11 */
    scrollbar-width: none;
    /* Firefox 64 */
}

/* Remove inner shadow from inputs on mobile iOS */
textarea,
input[type="text"] {
    -webkit-appearance: none;
}