::selection {
    background: #E8E8E8;
    color: #121212;
    text-shadow: none;
}

::selection {
    background: #E8E8E8;
    color: #121212;
    text-shadow: none;
}

.overflow-h {
    overflow: hidden
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    -webkit-font-smoothing: antialiased;
}

body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

:root {
    scrollbar-width: none !important;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

textarea,
input[type="text"] {
    -webkit-appearance: none;
}

.section.background {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8rem;
    text-align: center;
    height: auto;
}

.container.is--footer {
    background-image: url('../../assets/footerBG.jpg');
    background-attachment: fixed;
    color: #FFF;
}

.newsletter__text-field::placeholder {
    color: #FFF;
}

.skill-icons {
    background-color: red;
    fill: white;
}