html,
body {
    overscroll-behavior: none;
}

body {
    -webkit-font-smoothing: antialiased;
}

body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

:root {
    scrollbar-width: none !important;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

textarea,
input[type="text"] {
    -webkit-appearance: none;
}

::selection {
    background: #E8E8E8;
    color: #121212;
    text-shadow: none;
}

.overflow-h {
    overflow: hidden
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #FFF;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    background: #E8E8E8;
    color: #121212;
    text-shadow: none;
}