::selection {
    background: #e8e8e8;
    color: #121212;
    text-shadow: none
}

::selection {
    background: #e8e8e8;
    color: #121212;
    text-shadow: none
}

.overflow-h {
    overflow: hidden
}

::-webkit-scrollbar {
    width: 0
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

body {
    -webkit-font-smoothing: antialiased
}

body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none
}

:root {
    scrollbar-width: none !important
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.container.is--footer {
    background-image: url(https://www.jrydev.me/assets/footerBG.jpg);
    background-attachment: fixed;
    color: #fff
}

.skill-icons {
    fill: #fff !important;
    color: #fff;
    width: 10rem;
    height: 10rem
}